@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
.logo-container {
  display: flex;
  gap: 15px;
  max-width: 330px;
}
.logo-container .text {
  display: flex;
  flex-direction: column;
}
.logo-container .text .title {
  font-family: "ABeeZee", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #181818;
}
.logo-container .text .subtitle {
  font-family: "ABeeZee", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #7B7B7B;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.3s ease-in-out;
}

.error-message {
  color: #EF5350;
  font-family: "ABeeZee", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 350px;
}
.form-row .label {
  font-family: "ABeeZee", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.form-row .input {
  width: 100%;
  background-color: #F3F3F3;
  font-family: "ABeeZee", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  padding: 15px 25px;
  color: #2C2C2C;
}
.form-row .icon-eye {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.auth-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #FED892;
  top: 0;
  left: 0;
}
.auth-page .bgphoto {
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 1;
  max-width: 1200px;
}
.auth-page .auth-container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
  width: 450px;
  padding: 20px 40px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.auth-page .auth-container .custom-notification {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.auth-page .auth-container .login-container-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.auth-page .auth-container .login-container-form .input-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
}
.auth-page .auth-container .login-container-form .button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "ABeeZee", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}
.auth-page .auth-container .login-container-form .button-container span {
  color: #FE5F1E;
}

@media (max-width: 1000px) {
  .bgphoto {
    display: none;
  }
}
.admin-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 10px 200px;
  border-bottom: solid 2px #FED892;
  color: #181818;
  font-family: "ABeeZee", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.admin-navbar .navbar-links {
  display: flex;
  align-items: center;
  gap: 80px;
}
.admin-navbar .navbar-links li {
  text-align: center;
}
.admin-navbar .navbar-links li a {
  cursor: pointer;
  text-decoration: none;
  color: #181818;
}
.admin-navbar .navbar-links li a:hover {
  color: #FE5F1E;
}
.admin-navbar .admin-exit {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #FE5F1E;
  opacity: 0.8;
}
.admin-navbar .burger-menu {
  display: none;
  font-size: 24px;
  color: #181818;
  cursor: pointer;
}
.admin-navbar .navbar-links.active {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #FED892;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.admin-navbar .navbar-links.active li {
  text-align: center;
}
.admin-navbar .navbar-links.active li a {
  position: relative;
}
.admin-navbar .navbar-links.active li a .admin-exit-sm {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: black;
  opacity: 0.8;
  top: -10px;
  left: 35px;
}
.admin-navbar .navbar-links.active li a .admin-exit-sm:hover {
  color: #FE5F1E;
}

@media (max-width: 1440px) {
  .admin-navbar {
    padding: 10px 50px;
  }
  .admin-navbar .logo-container {
    max-width: 200px;
  }
  .admin-navbar .logo-container .title {
    font-family: "ABeeZee", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
  }
  .admin-navbar .logo-container .subtitle {
    font-family: "ABeeZee", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .admin-navbar .navbar-links {
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .admin-navbar {
    padding: 10px 25px;
  }
  .admin-navbar .logo-container .text {
    max-width: 130px;
  }
  .admin-navbar .logo-container .text .title {
    font-family: "ABeeZee", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
  }
  .admin-navbar .logo-container .text .subtitle {
    font-family: "ABeeZee", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .admin-navbar .navbar-links {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .admin-navbar {
    padding: 10px 20px;
    justify-content: center;
    gap: 200px;
  }
  .admin-navbar .navbar-links {
    display: none;
  }
  .admin-navbar .navbar-links.active {
    display: flex;
    align-items: center;
  }
  .admin-navbar .burger-menu {
    display: block;
  }
  .admin-navbar .admin-exit {
    display: none;
  }
}
.form-btn {
  border-radius: 30px;
  background-color: #FE5F1E;
  padding: 17px 13px;
  color: #FFFFFF;
  max-width: 200px;
  font-family: "ABeeZee", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

/*# sourceMappingURL=index.css.map */
